<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form action="/" method="post">
        <label for="sentence">Enter a sentence:</label>
        <input type="text" id="sentence" name="sentence">
        <input type="submit" value="Analyze">
    </form>
    <hr>
    <h2>Analysis Results</h2>
    <ul>
        {% for result in results %}
        <li>
            <p><strong>Sentence:</strong> {{ result.sentence }}</p>
            <!-- <p><strong>Sentiment Scores:</strong> {{ result.sentiment_scores }}</p>
            <p><strong>Overall Sentiment:</strong> {{ result.overall_sentiment }}</p> -->
            <p><strong>Sentiment Label:</strong> {{ result.sentiment_label }}</p>
            <p><strong>Sentiment Score:</strong> {{ result.sentiment_score }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
